@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald:wght@600&display=swap');

:root {
  --clr-bg-dark: #1a1a1a;
  --clg-bg-light: #eeebeb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: var(--clg-bg-light);
}

header,
main,
section {
  margin: 0;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

h2 {
  margin-bottom: 1em;
}
